accounts/migrations/__pycache__/
accounts/__pycache__/
accounts/migrations/*
!accounts/migrations/.gitkeep
!accounts/migrations/__init__.py

quiz/migrations/__pycache__/
quiz/__pycache__/
quiz/migrations/*
!quiz/migrations/.gitkeep
!quiz/migrations/__init__.py

written_test/migrations/__pycache__/
written_test/__pycache__/
written_test/migrations/*
!written_test/migrations/.gitkeep
!written_test/migrations/__init__.py

ipc/__pycache__/
db.sqlite3
*.pyc